@include breakpoint (medium down) {

  h1 {
    font-size: 60px;
    line-height: 60px;
  }

  .grid-container {
    max-width: 100%;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  header nav {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #2b2d30;
    padding: 5em 1em 1em;
  }

  .nav-menu,
  .logo-container {
    position: relative;
    z-index: 99;
  }

  header nav ul li {
    display: block;
    padding: 13px 15px;

    a {
      font-size: 25px;
    }
  }

  .device-quarter {
    width: 500px;
    height: 500px;
    border-width: 90px;
  }

  .hero .hero-image {
    width: 400px;
    height: 400px;
  }

  .hero .content p {
    max-width: 100%;
  }

  .hero .content p {
    font-size: 18px;
    line-height: 25px;
  }

  header .logo {
    height: 70px;
    margin-top: 35px;
  }

  .medium-padding {
    padding: 4em 0em;
  }

  .text-image,
  .image-text {
    .medium-padding {
      padding-bottom: 0em;
    }
  }

  .text-image .grid-container .content {
    min-height: 0px;
  }

  .img-container {
    order: 2;
  }

  .hero .line-down {
    bottom: -2em;
  }

  .text-image .device-quarter,
  .image-text .device-quarter {
    top: 40%;
    left: 45%;
    width: 1000px;
    height: 1000px;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    border-width: 150px;
  }

  .image-text .device-quarter {
    top: 60%;
  }

  .text-image .device-lines,
  .image-text .device-lines {
    top: 60%;
  }

  .strategy-tiles .brand-p {
    max-width: 140px;
  }

  .strategy-tiles {
    margin-top: 5em;
    padding-left: 0em;
    padding-right: 2em;
  }

  .strategy-tiles.people,
  .strategy-tiles.partnership {
    margin-top: 2em;
  }

  .strategy-tiles.partnership {
    margin-top: -2em;
  }

  .strategy-tiles .content {
    margin-top: -80px;
    margin-left: 0px;
    display: inline-block;
  }

  .strategy-tiles .title {
    margin-top: -80px;
    margin-left: 90px;
  }

  .strategy-tiles.people .title {
    margin-top: -60px;
    margin-left: 105px;
  }

  .strategy-tiles.partnership .title {
    margin-top: -50px;
    margin-left: 80px;
  }

  .vimeo-container .play-video:after,
  .video-play-tiles .video-tile .play-video:after,
  .vimeo-container .stop-video:after,
  .video-play-tiles .video-tile .stop-video:after {
    width: 90px;
    height: 90px;
  }

  .hero .hero-image {
    margin-top: 4em;
  }

  .hero .device-quarter {
    top: 2em;
  }

  .hero .device-lines {
    top: 5vh;
  }

  footer .large-3:last-child ul {
    border-right: 3px solid #43474c;
  }

  footer ul {
    width: 100%;
  }

  .text-image .full-image-text-image {
    height: 350px;
  left: 0;
  width: 100%;
  border-radius: 0px;
  bottom: 0;
  top: initial;
  z-index: 1;
  }

  .line-down {
    left: 2em;
  }

  header .drop-down {
    position: relative;
    z-index: 99;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    top: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;

    li a {
      font-size: 16px !important;
      padding-right: 0px !important;
    }
  }

  header .drop-down li {
    padding: 8px;
  }

  .text-image .full-image-text-image, .image-text .full-image-text-image {
    height: 350px;
  left: 0;
  width: 100%;
  border-radius: 0px;
  bottom: 0;
  top: initial;
  z-index: 1;
  position: relative;
  }

  header .drop-down::before {
    display: none !important;
  }

  .full-image-section {
    .img-container {
      display: none;
    }
  }

  .uls-document-list {
    padding-top: 3em;
  }

  
}


@include breakpoint (small only) {
  header img {
    width: 130px;
    margin-top: 10px !important;
  }

  header .logo {
    height: 62px;
    width: initial;
  }

  h1, .smaller-hero h1 {
      font-size: 40px;
      line-height: 40px;
  }

  h2 {
    font-size: 24px;
    line-height: 24px;
  }

  .smaller-hero .hero-image {
    margin-left: 2px;
  }

  .hero .content p {
    font-size: 17px;
    line-height: 21px;
}

.hero .line-down {
  display: none;
}

.hero .content {
  padding-top: 9em;
  padding-bottom: 0em;
  position: relative;
  z-index: 99;
}

.hero .device-lines {
  top: 3em;
  left: 0em;
}

.device-lines span {
  width: 8px;
  margin-right: 5px;
}

.hero .device-quarter {
  width: 300px;
  height: 300px;
  border-width: 70px;
  left: inherit;

}

.hero .hero-image {
  width: 280px;
  height: 280px;
}

.hero .hero-image {
  margin-bottom: 3em;
}

.button {
  font-size: 15px;
}

.grid-container {
  padding-left: 2em;
  padding-right: 2em;
}

header nav ul li a {
  font-size: 19px;
}

.text-image .grid-container .content {
  padding-right: 0em;
}

blockquote, p, .image-text ul li, .text-image ul li {
  font-size: 16px;
}

.text-image .device-quarter, .image-text .device-quarter {
  border-width: 100px;
  height: 600px;
  width: 600px;
  top:60%;
}

.small-circle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #D64B8A;
  position: absolute;
  top: 9%;
  left: 0%;
}

.medium-circle {
  width: 140px;
  height: 140px;
  left: 10%;
}

.image-text .image-container, .text-image .image-container {
  min-height: 380px;
  max-height: 380px;
}

.img-container {
  max-height: 380px !important;
}

.strategy-tiles .brand-p {
  max-width: 100px;
}

.strategy-tiles {
  padding-right: 0em;
  margin-top: 1em;
}

.strategy-tiles .title {
  margin-top: -50px;
  margin-left: 64px;
}

.strategy-tiles h3 {
  font-size: 28px;
}

.strategy-tiles.people .title {
  margin-top: -30px;
  margin-left: 69px;
}

.strategy-tiles.partnership {
  margin-top: 0em;
  padding: 0px;
}

.strategy-tiles.partnership .brand-p {
  max-width: 93px;
  margin-left: 25px;
}
.strategy-tiles.partnership .title {
  margin-top: -20px;
}
.image-text .device-quarter {
  left: -100%;
}

.full-width-video .vimeo-container {
  min-height: 200px;
}

.vimeo-container .play-video:after, .video-play-tiles .video-tile .play-video:after, .vimeo-container .stop-video:after, .video-play-tiles .video-tile .stop-video:after {
  width: 60px;
  height: 60px;
  background-size: 30px;
}

footer img {
  display: none;
}

footer .footer-message {
    text-align: left;
    padding-bottom: 0px;
    border-right: 0px;
    padding-right: 0px;
    border-left: 4px solid $brand-pink;
    padding-left: 10px;
    margin-bottom: 20px;


    h3 {
      font-size: 14px;
      margin-bottom: 0px;
    }

    span {
      font-size: 15px;
    }
}

footer ul {
  border: 0px !important;
}

footer ul li a {
  text-decoration: none;
  padding-bottom: 6px;
  font-size: 15px;
  display: block;
}

footer .grid-x {
  margin-bottom: 24px;
}

footer .sub-footer p {
  font-size: 12px;
  margin-bottom: 6px;
}

footer .sub-footer .text-right {
  text-align: left;
}

.fixed-header .logo {
  height: 50px;
  margin: 0px 0px;
  -webkit-transition: height 0.2s ease;
  transition: height 0.2s ease;
  display: block;
}

.fixed-header .logo {
  height: 50px;
  margin: 0px 0px;
  -webkit-transition: height 0.2s ease;
  transition: height 0.2s ease;
  display: block;
  width: initial;
  margin: 0px !important;
}

header #nav-icon3 {
  margin: 15px 0px 2px;
}

.fixed-header {
  height: 88px;
}

.interactive-button {
  order: 3;
  text-align: left;
  margin-top: 2em;
}

blockquote, blockquote p, .image-text blockquote p, .text-image blockquote p {
  padding-right: 0px !important;
  font-size: 17px;
}

header .drop-down li a {
  font-size: 14px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
}

.text-image .full-image-text-image, .image-text .full-image-text-image {
  height: 280px;
  margin-top: 1em;
}
}