<header role="banner">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle">
      <div class="cell small-8 medium-3 large-3 logo-container">
        <a class="logo" href="/">
          <img alt="" role="img" aria-label="Description of the overall image" class="logo" src="/assets/img/ulster-logo.svg" />
        </a>
      </div>
      <div class="cell small-4 medium-9 large-9">
        <div class="nav-menu hide-for-large">
          <div id="nav-icon3">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <nav role=”navigation” aria-label=”main-menu”>
          <ul class="dropdown" data-dropdown-menu data-disable-hover-on-touch="true">
            <li>
              <a class="is-active">Home</a>
              <ul class="drop-down" data-submenu>
                <li>
                  <a href="">Sub Nav 1</a>
                </li>
                <li>
                  <a href="">Sub Nav 1</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/">Strategy</a>
            </li>
            <li>
              <a href="/">In Action</a>
              <ul class="drop-down" data-submenu>
                <li>
                  <a href="">Sub Nav 1</a>
                </li>
                <li>
                  <a href="">Sub Nav 1</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/">Resources</a>
            </li>
           

          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
