<div class="hero" role="img" aria-label="Description of the overall image">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle">
      <div class="cell medium-5 large-6">
        <div class="content">
          <h1><span data-aos="fde-custom" data-aos-delay="600">People</span> <span data-aos="fde-custom" data-aos-delay="700">place and</span> <span data-aos="fde-custom" data-aos-delay="800">partnership</span> </h1>
          <p data-aos="fde-custom" data-aos-delay="900">Delivering Sustainable Futures for All</p>
          <div data-aos="fde-custom" data-aos-delay="1100">
            <a href="" class="button light-button">View the Strategy</a>
          </div> 
        </div>
        <span class="line-down"></span>
      </div>
      <div class="cell medium-7 large-6  hero-image-container" >
        <div class="hero-image" data-aos="zoom-in-customs" style="background-image: url(/assets/img/home-hero.png)"></div>
        <div class="device-lines green">
          <span data-aos="slide-down-custom"></span>
          <span data-aos="slide-down-custom" data-aos-delay="200"></span>
          <span data-aos="slide-down-custom" data-aos-delay="300"></span>
          <span data-aos="slide-down-custom" data-aos-delay="400"></span>
          <span data-aos="slide-down-custom" data-aos-delay="500"></span>
          <span data-aos="slide-down-custom" data-aos-delay="600"></span>
        </div>
        <div class="device-quarter" data-aos="rotate-ac" data-aos-delay="400" data-aos-duration="1000" ></div>
      </div>
    </div>
  </div>
</div>
