<div class="full-width-video padding-top-3 padding-bottom-3" id="video-ad-1275159">
    
    <div class="grid-container" id="required-1275159">
      <div class="grid-x grid-margin-x ">
        <div class="cell small-12 medium-12 large-12 vimeo-container">
          <div class="vimeo-wrapper">
              
                      <div class="background-image" style="background-image: url(&quot;https://www.ulster.ac.uk/__data/assets/image/0020/1273070/vimeo-placholder-1.png&quot;);"></div>
                        <!-- id="vimeo_player-1275159" -->
             <iframe title="Embedded video from Vimeo" class="hqy-lazy vimeo_player hqy-loaded" data-src="https://player.vimeo.com/video/63721649?api=1&amp;autoplay=0&amp;muted=0&amp;loop=1&amp;byline=0&amp;title=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" allow="autoplay" src="https://player.vimeo.com/video/63721649?api=1&amp;autoplay=0&amp;muted=0&amp;loop=1&amp;byline=0&amp;title=0" data-ready="true"></iframe>
            </div>
          <span tabindex="0" class="play-video" role="button" aria-label="Play Video" style=""></span>
          <span tabindex="0" class="stop-video" style="font-size: 34px; display: none;" role="button" aria-label="Stop Video"></span>
        </div>
      </div>
    </div>
  </div>
  
  