.text-image {
    .full-image-text-image {
        position: absolute;
        width: 54%;
        left: 65%;
        bottom: -30%;
        top: -30%;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
    }

    &.full-image-section {
        .device-lines, .device-quarter {
            display: none !important;
        }
    }

   
}

.image-text {
    .full-image-text-image {
        position: absolute;
        width: 54%;
        right: 59%;
        bottom: -30%;
        
        top: -30%;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
    }

    &.full-image-section {
        .medium-circle {
            left: 56%;
        }

        .small-circle {
            left: 46%;
        }

        .device-lines, .device-quarter {
            display: none !important;
        }
    }
}


.image-text, .text-image {
    position: relative;
    overflow: hidden;

    blockquote {
        font-size: 20px;
    }

    blockquote p {
        font-size: 20px;
        color: $primary-color !important;
    }

    &.hide-circles {
        .small-circle, .medium-circle {
            display: none !important;
        }
    }

    ul {
        margin-left: 2em;
        li {
            font-size: 18px;
        }
    }



    &.pink {

        blockquote {
            border-color: $brand-pink;
        }

        .button::after {
            background-color: $brand-pink;
        }

    }

    &.green {

        blockquote {
            border-color: $brand-green;

        }

        .button::after {
            background-color: $brand-green;
        }

    }

    &.blue {

        blockquote {
            border-color: $brand-blue;
        }

        .button::after {
            background-color: $brand-blue;
        }

    }

    .cell {
        position: relative;
        z-index: 1;
    }

    .image-container {
        position: relative;
        height: 100%;
        width: 100%;

        img {
            position: absolute;
            bottom: 0;
            max-height: 85%;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    .align-middle {
        .image-container img {
            
            bottom: 10%;
            max-height: 80%;

        }
    }
}

.text-image {
    .device-lines {
        right: 2em;
        top: 6em;
    }

    .device-quarter {
        top: 15%;
        left: 70%;
        width: 1200px;
        height: 1200px;
        transform: rotate(-135deg);
        border-width: 200px;
       
    }
}

.image-text {
    .device-lines {
        left: 2em;
        top: 6em;
    }

    .device-quarter {
        top: 15%;
        left: -40%;
        width: 1200px;
        height: 1200px;
        transform: rotate(-45deg);
        border-width: 200px;
       
    }
}